
*.tmp
*.docx
*.PrjPcbStructure


# Ignore an entire folder
History/
__Previews/
Project Logs for First_pRoJeCt/
Project Logs for esp32-s3-mini-1_CustomPCB_Altium/
Project Outputs for esp32-s3-mini-1_CustomPCB_Altium/





